h2 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}


#Main-Results-Container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#MainGame-Container {
    height: 80%;
    width: 80%;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



#questionComponentContainer, #PokeCard-Container {
    width: 80%;
}

#Score-Container {
    width: 55%;
}

#questionComponentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#questionHolder {
    padding-top: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#poke-ball-container {
    width: 50px;
    height: 50px;
}

#poke-ball-container img {
    aspect-ratio: 1/1;
    width: 100%;
}

#spinningBall {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



#Question-Container, #Score-Container {
    height: 100px;
    
}

#PokeCard-Container {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#Question-Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Score-Container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.343);
    border-radius: 7.5px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

#HighScore-Main, #streak-container {
    width: 200px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
   
}
#questionHolder h2 {
    font-size: 32px;
}

#card-container {
    height: 350px;
    width: 240px;
}

#PlayAgain-Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newgame-button-Main {
    border-radius: 5px;
    width: 200px;
    height: 45px;
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#evo1, #evo2, #evo3 {
    position: relative;
    
}
#evo1Comment, #evo2Comment, #evo3Comment {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    border: black solid 1.5px;
    top: -10px;
    left: -80px;
}


@media only screen and (max-width: 1300px) { 
    #PokeCard-Container, #Question-Container {
        width: 100%;
    }
    
}
@media only screen and (max-width: 1000px) { 
    #MainGame-Container {
        width: 100%;
    }
}
@media only screen and (max-width: 750px) { 
    #card-container {
        width: 200px;
        height: 300px;
    }
    #questionHolder h2, #questionHolder h1 {
        font-size: 24px;
    }
}

@media only screen and (max-height: 750px) { 
    #MainGame-Container {
        height: 100%;
    }
    #questionHolder {
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    #questionHolder h2 {
        padding-right: 15px;
    }
}