
#Reveal-content {
    
    height: 350px;
    width: 250px;
    border-radius: 7px;
    border:  solid black 2.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name-container {
   
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-container {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#type-container {
    height: 15%;
    width: 100%;
   
}

#image-container img {
    width: 80%;
}