#clickable-container {
    background-color: aquamarine;
  
}

#clickable-container:hover {
    background-color: aqua;
}

#Reveal-content {
    background-color: antiquewhite;
    height: 350px;
    width: 250px;
    border-radius: 7px;
    border:  solid black 2.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name-container {
    background-color: hotpink;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-container {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

#type-container {
    height: 15%;
    width: 100%;
    background-color: salmon;
}

#image-container img {
    width: 80%;
}